In [10]:
_tuple = (1)
print(type(_tuple))
print(_tuple)

<class 'int'>
1

In [31]:
_dict = {"name": "zubair","age":12}
print(_dict)

{'name': 'zubair'}

In [21]:
for i in names:
    if i == "khan":
        print("True")
    else:
        print("Nothing here")
    # print("Name", i)

Nothing here
True
Nothing here
True

In [58]:
names = ["zubair", "khan", "Uzair", "khan"]
print(names)
names[0] = "SAAD"
print(names)

['zubair', 'khan', 'Uzair', 'khan']
['SAAD', 'khan', 'Uzair', 'khan']

In [52]:
for i in names:
    print(i)

zubair
khan
Uzair
khan

In [35]:
_sum = []
for i in range(1, 11, 2):
    print(i)
    _sum.append(i)
print(sum(_sum))

1
3
5
7
9
25

In [7]:
for table in range(2, 6):
    for i in range(1, 11):
        print(f"{table} x {i} =", i * table)    
    print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [1]:
for i in range(1,10,5):
    print(i)

1
6