In [14]:
import pandas as pd

In [15]:
# Dict of Lists
df = pd.DataFrame({
    "city": ['Paris', 'London', 'Berlin'],
    "temp_c": [20.1, 15.2, 18.3]
})

In [16]:
print(df)

     city  temp_c
0   Paris    20.1
1  London    15.2
2  Berlin    18.3

In [22]:
# Dict of Series
df1 = pd.DataFrame({
    "A": pd.Series([1,2,3], index=['x', 'y', 'z']),
    "B": pd.Series([4,5], index=['x', 'y'])
})

In [23]:
print(df1)

   A    B
x  1  4.0
y  2  5.0
z  3  NaN

In [30]:
# List of Dicts
df3 = pd.DataFrame([
    {"name": 'Alice', "age": 25},
    {"name": 'Bob', "age": 30, "score": 92},
    {"name": 'Carol', "score": 79},
])

In [31]:
print(df3)

    name   age  score
0  Alice  25.0    NaN
1    Bob  30.0   92.0
2  Carol   NaN   79.0

In [32]:
print(df1.shape)

(3, 2)

In [33]:
print(df1.columns)

Index(['A', 'B'], dtype='object')

In [34]:
print(df1.index)

Index(['x', 'y', 'z'], dtype='object')

In [35]:
print(df1.dtypes)

A      int64
B    float64
dtype: object

In [36]:
print(df1.head(2))

   A    B
x  1  4.0
y  2  5.0

In [37]:
print(df1.tail(1))

   A   B
z  3 NaN

In [38]:
print(df1.values)

[[ 1.  4.]
 [ 2.  5.]
 [ 3. nan]]

In [39]:
print(df1.T)

     x    y    z
A  1.0  2.0  3.0
B  4.0  5.0  NaN

In [41]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     2 non-null      float64
 2   score   2 non-null      float64
dtypes: float64(2), object(1)
memory usage: 204.0+ bytes

In [43]:
df3.describe()

             age      score
count   2.000000   2.000000
mean   27.500000  85.500000
std     3.535534   9.192388
min    25.000000  79.000000
25%    26.250000  82.250000
50%    27.500000  85.500000
75%    28.750000  88.750000
max    30.000000  92.000000