In [1]:
import pandas as pd

In [2]:
pd.read_excel("data_xlsx.xlsx")

    name  age  score       date
0  Alice   25   88.5 2025-02-03
1    Bob   30   92.0        NaT
2  Carol   27   79.5        NaT

In [3]:
pd.read_excel("data_xlsx.xlsx", sheet_name=['Sheet1'])

{'Sheet1':     name  age  score       date
 0  Alice   25   88.5 2025-02-03
 1    Bob   30   92.0        NaT
 2  Carol   27   79.5        NaT}

In [4]:
dfs = pd.read_excel("data_xlsx.xlsx", sheet_name=['Sheet1', 'Sheet2'])

In [5]:
df2 = dfs['Sheet2']

In [6]:
print(df2)

    name  age
0  Alice   25
1    Bob   30
2  Carol   27

In [7]:
df2.to_excel("output_xlsx.xlsx", sheet_name="Results")