In [4]:
import pandas as pd

# Reading Csv Files

In [5]:
df = pd.read_csv('data.csv')

In [6]:
print(df)

    name  age  score        date
0  Alice   25   88.5  2025-02-03
1    Bob   30   92.0         NaN
2  Carol   27   79.5         NaN

In [7]:
df = pd.read_csv('data.csv', index_col=0)

In [8]:
print(df)

       age  score        date
name
Alice   25   88.5  2025-02-03
Bob     30   92.0         NaN
Carol   27   79.5         NaN

In [9]:
df = pd.read_csv('data.csv', parse_dates=['date'])

In [10]:
print(df['date'])

0   2025-02-03
1          NaT
2          NaT
Name: date, dtype: datetime64[ns]

In [13]:
df4 = pd.read_csv('data.csv')

In [14]:
print(df4)

    name  age  score        date
0  Alice   25   88.5  2025-02-03
1    Bob   30   92.0         NaN
2  Carol   27   79.5         NaN

In [15]:
df4.to_csv("output.csv")

In [16]:
print(df4)

    name  age  score        date
0  Alice   25   88.5  2025-02-03
1    Bob   30   92.0         NaN
2  Carol   27   79.5         NaN

In [21]:
df4.to_csv("scores_only.csv", columns=['name', 'score'], index=False)

In [22]:
pd.read_csv('scores_only.csv')

    name  score
0  Alice   88.5
1    Bob   92.0
2  Carol   79.5