In [26]:
import pandas as pd

# Reading Csv Files

In [27]:
df = pd.read_csv('data.csv')

In [28]:
print(df)

    name  age  score        date
0  Alice   25   88.5  2025-02-03
1    Bob   30   92.0         NaN
2  Carol   27   79.5         NaN

In [29]:
df = pd.read_csv('data.csv', index_col=0)

In [30]:
print(df)

       age  score        date
name
Alice   25   88.5  2025-02-03
Bob     30   92.0         NaN
Carol   27   79.5         NaN

In [31]:
df = pd.read_csv('data.csv', parse_dates=['date'])

In [32]:
print(df['date'])

0   2025-02-03
1          NaT
2          NaT
Name: date, dtype: datetime64[ns]

In [33]:
df4 = pd.read_csv('data.csv', sep="\t")

In [34]:
print(df)

    name  age  score       date
0  Alice   25   88.5 2025-02-03
1    Bob   30   92.0        NaT
2  Carol   27   79.5        NaT